# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Data files
data/raw/*
data/processed/*

# Keep structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/README.md

# Results
results/*
!results/.gitkeep

# Figures (optional)
figures/*.png
figures/*.jpg
figures/*.pdf